<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".SellasticpotsApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sellasticpots"
        tools:ignore="UnusedAttribute">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Splash Screen - Launcher Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Sellasticpots">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Sellasticpots" />

        <!-- Signup Activity -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.Sellasticpots" />

        <!-- Forgot Password Activity -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Sellasticpots" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="false" />

        <!-- Product Detail Activity -->
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Sellasticpots" />

        <!-- All Reviews Activity -->
        <activity
            android:name=".AllReviewsActivity"
            android:exported="false"
            android:theme="@style/Theme.Sellasticpots" />

        <!-- Contact Us Activity -->
        <activity
            android:name=".ContactUsActivity"
            android:exported="false"
            android:theme="@style/Theme.Sellasticpots" />

        <!-- Checkout Activity -->
        <activity
            android:name=".CheckoutActivity"
            android:exported="false"
            android:theme="@style/Theme.Sellasticpots" />

        <!-- Order Detail Activity -->
        <activity
            android:name=".OrderDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Sellasticpots" />

    </application>

</manifest>